BACKEND_CONTEXT=../ab-comercial-backend
FRONTEND_CONTEXT=../ab-comercial-frontend
BACKEND_ENV_FILE=../ab-comercial-backend/.env

BACKEND_PORT=8000
FRONTEND_PORT=3000

NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
